@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BebasKai";
  src: url("../fonts/BebasKai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Regular.ttf") format("truetype"),
    url("../fonts/InterDisplay-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.section-subtitle {
  @apply text-sm sm:text-lg font-outfit tracking-wider text-accent uppercase;
}

.section-title {
  @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl font-bebas tracking-tighter text-white;
}

.section-title span {
  @apply opacity-60;
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .menu-list-border {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) 1;
  }

  .hero-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/src/images/hero-img.png");
  }

  .about-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/src/images/about_bg.png");
  }

  .gradient-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  }
}

@media (min-width: 640px) {
  .hero-bg {
    background-size: cover;
    background-repeat: repeat;
  }
}

@media (min-width: 768px) {
  .hero-bg {
    background-size: contain;
    background-repeat: repeat;
  }
}
